@charset "utf-8";

/*
 *	Tabel Style
/*--------------------------------------------------------------------------*/
.linetableNormal {
	background-color: #EEE;
	border: 1px solid #FFF;
	margin: 5px 0px;
	width:100%;
}

.linetableNormal tr {
	background-color: #FFF;
}

.linetableNormal th {
	background-color: #FFF;
	color: #555;
	padding: 3px;
	margin: 1px;
	border-bottom: none;
	white-space: nowrap;
	text-align: left;
	height: 23px;
	background-image: url(../images/bg/line_gray05.gif);
	background-repeat: repeat-x;
	background-position: top top;
}

.linetableNormal td {
	height: 23px;
}