<!DOCTYPE html PUBLIC"-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>签证资料填写-旅程信息2222</title>
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <link href="css/lib/se/vsia_common_form.css" rel="stylesheet" type="text/css" />
    <link href="css/lib/se/visa_nav.css" rel="stylesheet" type="text/css" />
    <link href="css/lib/se/iF.step.css" rel="stylesheet" type="text/css" />  
    <link href="css/lib/se/loading.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/lib/se/reference.js"></script>    
    <script type="text/javascript" src="js/lib/se/visa_common_form.js"></script>   
    <script type="text/javascript">
        $().ready(function () {
            var options = {
                curPage:"T",
                pages:Pages,
                validateOptions: {
                    rules: {
                        payerEmail: {
                            required: true,
                            email: true
                        },
                        contactEmail: {
                            required: true,
                            email: true
                        },
                        contactStreet: {
                            required: true,
                            maxlength: 88
                        },
                    },
                    messages: {
                        asPartOfGroup: "请选择是或否！",
                        haveCompanion: "请选择是或否！",
                        isSameAddrees: "请选择是或否"
                    }
                }
            }
            var formHelper = new VisaFormHelper(options);
            formHelper.init();
            formHelper.bindEvents();
            formHelper.loadFormData();
            formHelper.bindFormData();
            visaCommon.attachChangeEvent();
            visaCommon.attachAddDelEvent();

            formHelper.getNextOp=function(){
                if(formHelper.data){
                     return formHelper.data.familyInfo ?Constants.UPDATE:Constants.ADD;
                }else{
                    return Constants.ADD
                }
            }
            formHelper.getTabOp=function(page){
                return  usUtil.getTapOp(this.data,page);
            }
        });
    </script>
</head>

<body>
    <div class="main wrapper">
        <div  class="header">
            <div id="tab-nav" class="nav">
                <ul>
                    <li class="active" data-tab-url="loadPersonalInfo" data-page="P">
                        <a href="javascript:void(0)" >个人信息</a>
                        <ul>
                            <li><a data-scroll-id="personInfoArea" href="javascript:void(0)" onclick="$(window).scrollTo($('#personInfoArea'),300)">基础信息</a></li>
                            <li><a data-scroll-id="addressPhoneInfoArea" href="javascript:void(0)" onclick="$(window).scrollTo($('#addressPhoneInfoArea'),300)">地址/电话信息</a></li>
                        </ul>
                    </li>
                    <li data-tab-url="loadJourneyInfo"  data-page="T">
                        <a href="javascript:void(0)"  >旅程信息</a>
                        <ul>
                            <li><a data-scroll-id="passportInfoArea" href="javascript:void(0)" onclick="$(window).scrollTo($('#passportInfoArea'),300)">护照信息</a></li>
                            <li><a data-scroll-id="thisTripInfo" href="javascript:void(0)" onclick="$(window).scrollTo($('#thisTripInfo'),300)">本次旅程</a></li>
                            <li><a data-scroll-id="previousTripInfo" href="javascript:void(0)" onclick="$(window).scrollTo($('#previousTripInfo'),300)">曾经的旅程</a></li>
                        </ul>
                    </li>
                    <li data-tab-url="loadRelativeInfo"  data-page="R">
                        <a href="javascript:void(0)">亲属信息</a>
                        <ul>
                            <li><a data-scroll-id="relationInfoArea" href="javascript:void(0)" onclick="$(window).scrollTo($('#relationInfoArea'),300)">亲属信息</a></li>
                            <li><a data-scroll-id="spouseArea" href="javascript:void(0)" onclick="$(window).scrollTo($('#spouseArea'),300)">配偶信息</a></li>
                        </ul>
                    </li>
                    <li data-tab-url="loadWorkEducationInfo"  data-page="E" >
                        <a href="javascript:void(0)">职业及教育经历</a>
                        <ul>
                            <li><a data-scroll-id="workInfo" href="javascript:void(0)" onclick="$(window).scrollTo($('#workInfo'),300)">职业信息</a></li>
                            <li><a data-scroll-id="eduInfo" href="javascript:void(0)" onclick="$(window).scrollTo($('#eduInfo'),300)">教育信息</a></li>
                        </ul>
                    </li>
                    <li data-tab-url="loadOtherInfo" data-page="O" ><a href="javascript:void(0)" >补充信息</a></li>
                </ul>
            </div>
            <div class="step-indicator">
                <ol class="ui-step ui-step-6">
                    <li class="step-start">
                        <div class="ui-step-line"></div>
                        <div class="ui-step-cont">
                            <span class="ui-step-cont-number">1</span>
                            <span class="ui-step-cont-text">填写个人信息</span>
                        </div>
                    </li>
                    <li>
                        <div class="ui-step-line"></div>
                        <div class="ui-step-cont">
                            <span class="ui-step-cont-number">2</span>
                            <span class="ui-step-cont-text">填写旅程信息</span>
                        </div>
                    </li>
                    <li>
                        <div class="ui-step-line"></div>
                        <div class="ui-step-cont">
                            <span class="ui-step-cont-number">3</span>
                            <span class="ui-step-cont-text">填写亲属信息</span>
                        </div>
                    </li>
                    <li>
                        <div class="ui-step-line"></div>
                        <div class="ui-step-cont">
                            <span class="ui-step-cont-number">4</span>
                            <span class="ui-step-cont-text">填写职业与教育经历</span>
                        </div>
                    </li>
                    <li>
                        <div class="ui-step-line"></div>
                        <div class="ui-step-cont">
                            <span class="ui-step-cont-number">5</span>
                            <span class="ui-step-cont-text">填写补充信息</span>
                        </div>
                    </li>
                    <li class="step-end">
                        <div class="ui-step-line"></div>
                        <div class="ui-step-cont">
                            <span class="ui-step-cont-number">5</span>
                            <span class="ui-step-cont-text">完成检查并提交</span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="table-form">
            <form id="visa-form">
                <input id="para-country" type="hidden" name="para.country" value="us" />
                <input id="para-page-type" type="hidden" name="para.pageType" value="" />
                <input id="para-op" type="hidden" name="para.op" value="update" />
                <input id="para-form-id" type="hidden" name="para.formId" value="" />
                <input id="para-form-num" type="hidden" name="para.formSerialNum" value="" />
                <input id="para-progress" type="hidden" name="para.progress" value="T" />
                <input id="para-cfgId" type="hidden" name="para.cfgId" value="0" />
                <!--护照信息-->

                <!--本次旅程信息-->

                <!--曾经旅程信息-->
            </form>
        </div>
        <div class="operate-menu-area">
            <div class="button float-left">
                <a id="preBtn" class="prestep" data-pre-url="loadPersonalInfo" href="javascript:void(0)">上一步:个人信息</a>
            </div>
            <div class="button float-left">
                <a id="saveBtn" class="save" href="javascript:void(0)">保存</a>
            </div>
            <div class="button float-left">
                <a id="nextBtn" class="nextstep" data-next-url="loadRelativeInfo" href="javascript:void(0)">下一步:亲属信息</a>
            </div>
        </div>
    </div>
</body>


<script id="passportInfoArea-v-bind" type="text/html">
    <div id="passportInfoArea">
        <h2 class="area-title">护照信息</h2>
        <div class="field-container">
            <label for="passportType" class="field-title">护照类型</label>
            {{#passportTypes | select:{id:"passportType",name:"passportType",defaultValue:form.passportInfo.type,title:"请选择护照类型！",required:true} }}
        </div>
        <div class="field-container">
            <label for="passportNum" class="field-title">护照号码</label>
            <input type="text" id="passportNum" name="passportNum" value="{{form.passportInfo.passportNum}}" class="text-input passport" />
        </div>
        <div class="field-container">
            <label for="passportBookNum" class="field-title">护照本编码</label>
            <input type="text" required id="passportBookNum" name="passportBookNum" value="{{form.passportInfo.passportBookNum}}" {{!form.passportInfo.passportBookNum && 'disabled'}}  class="text-input" />
            <input type="checkbox" id="notHavePassportBookNum" {{!form.passportInfo.passportBookNum&&'checked="checked"'}} name="notHavePassportBookNum" />
            <label for="notHavePassportBookNum">没有/无法提供</label>
        </div>
        <div class="field-container clear" style="margin-top: 10px;">
            <label for="country" class="field-title">护照签发国</label>
            {{#countries | select:{id:"country",name:"country",defaultValue:form.passportInfo.country,title:"请选择国家！",required:true} }}
        </div>
        <div class="field-container">
            <label for="issuedCity" class="field-title">签发地</label>
            <input type="text" required id="issuedCity" name="issuedCity" value="{{form.passportInfo.issuedCity}}" class="text-input">
        </div>
        <div class="field-container">
            <label for="issuedProvince" class="field-title">签发省份(选填)</label>
            <input type="text" id="issuedProvince" name="issuedProvince" value="{{form.passportInfo.issuedProvince}}" class="text-input">
        </div>
        <div class="field-container">
            <label for="issuedCountry" class="field-title">签发国家</label>
             {{#countries | select:{id:"issuedCountry",name:"issuedCountry",defaultValue:form.passportInfo.issuedCountry,title:"请选择国家！",required:true} }}
        </div>
        <div class="field-container">
            <label class="field-title">签发日期</label>
            <input id="issuanceDate" name="issuanceDate" value="{{form.passportInfo.issuanceDate}}" class="Wdate text-input" type="text" required onclick="WdatePicker()" />
        </div>
        <div class="field-container">
            <label class="field-title">失效日期</label>
            <input id="expirationDate" name="expirationDate" value="{{form.passportInfo.expirationDate}}" class="Wdate text-input" type="text" required onclick="WdatePicker()" />
        </div>
        <div class="field-container">
            <label class="field-title">您的护照是否曾经遗失或被盗？</label>
            <input type="radio" id="lostYes" name="haveLost" value="Y" {{form.passportInfo.haveLostBefore && 'checked="checked"'}} data-tpl-id="lost-passport-template" class="align-middle" />
            <label for="lostYes" class="align-middle">是</label>
            <input type="radio" id="lostNo" name="haveLost" value="N"  {{!form.passportInfo.haveLostBefore && 'checked="checked"'}} checked="checked" class="align-middle" />
            <label for="lostNo" class="align-middle">否</label>
            <div id="lost-passport-area" class="area info-area one {{!form.passportInfo.haveLostBefore && 'hidden' }} ">
                <label style="display: block">请填写如下信息</label>
                {{if form.passportInfo.haveLostBefore }}
                <input type="hidden" id="lostPassportCount" counter name="lostPassportCount" value="{{form.passportInfo.lostInfoList.length}}" />
                <hr/>
                    {{each form.passportInfo.lostInfoList as item i}}
                        <div class="repeat">
                            <div class="field-container">
                                <label class="field-title">遗失或被盗护照的号码</label>
                                <input id="lostPassportNum_{{i}}" name="lostPassportNum_{{i}}" value="{{item.passportNum}}" class="text-input passport" type="text" />
                            </div>
                            <div class="field-container">
                                <label class="field-title">签发国家</label> 
                                {{#countries | select:{id:"lostIssuedCountry_"+i,name:"lostIssuedCountry_"+i,title:"请选择国家！",defaultValue:item.country,required:true}
                                }}
                            </div>
                            <div class="field-container">
                                <label for="lostPassportExplain" class="field-title">解释/原因说明</label>
                                <textarea required name="lostPassportExplain" id="lostPassportExplain" cols="31" rows="2">{{item.explain}}</textarea>
                            </div>
                        </div>
                    {{/each}}
                <!--遗失护照占位-->
                  {{else}}
                    <input type="hidden" id="lostPassportCount" counter name="lostPassportCount" value="0" />
                {{/if}}
                <div id="operate_passport_menu" class="control-menu">
                    <a href="javascript:void(0)">添加</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)">删除</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
</script>

<script id="thisTripInfo-v-bind" type="text/html">
    <div id="thisTripInfo">
        <h2 class="area-title">本次旅程</h2>
        <div class="field-container">
            <label for="purpose" class="field-title">赴美访问的目的</label>
            <select name="purpose" id="purpose" title="必须选择一项访问目的！" required>
                <option value>--请选择--</option>
                <option value="B" selected="selected">临时商务及旅游（B）</option>
            </select>
        </div>
        <div class="field-container">
            <label for="specify" class="field-title">具体说明</label>
            {{#specifies | select:{id:"specify",name:"specify",defaultValue:form.travelInfo.specify,title:"必须选择一项说明！",required:true} }}
        </div>
        <div class="field-container">
            <label class="field-title">您是否制定了具体的行程计划？</label>
            <input type="radio" id="madePlanYes" name="madePlan" value="Y" {{form.travelInfo.madePlan && 'checked="checked"'}} class="align-middle" />
            <label for="madePlanYes" class="align-middle">是</label>
            <input type="radio" id="madePlanNo" name="madePlan" value="N" {{!form.travelInfo.madePlan && 'checked="checked"'}} class="align-middle" />
            <label for="madePlanNo" class="align-middle">否</label>

            <div id="itinerary" class="area info-area one {{!form.travelInfo.madePlan && 'hidden'}}">
                <label style="display: block">提供完整的赴美旅行行程表</label>
                <hr/>
                {{if form.travelInfo.madePlan}}
                <div class="field-container">
                    <label class="field-title">预计到达日期</label>
                    <input id="planArrivalDate" name="planArrivalDate" value="{{form.travelInfo.itinerary.arrivalDate}}" class="Wdate text-input" type="text" required onclick="WdatePicker()"/>
                </div>
                <div class="field-container">
                    <label class="field-title">到达航班(选填)</label>
                    <input id="arrivalFlight" name="arrivalFlight" value="{{form.travelInfo.itinerary.arrivalFlight}}" class="text-input" type="text" />
                </div>
                <div class="field-container">
                    <label class="field-title">到达城市</label>
                    <input id="arrivalCity" name="arrivalCity" value="{{form.travelInfo.itinerary.arrivalCity}}" class="text-input" type="text" required />
                </div>
                <div class="field-container">
                    <label class="field-title">离开日期</label>
                    <input id="departureDate" name="departureDate" value="{{form.travelInfo.itinerary.departureDate}}" class="Wdate text-input" type="text" required onclick="WdatePicker()" />
                </div>
                <div class="field-container">
                    <label class="field-title">离开航班(选填)</label>
                    <input id="departureFlight" name="departureFlight" value="{{form.travelInfo.itinerary.departureFlight}}" class="text-input" type="text" />
                </div>
                <div class="field-container">
                    <label class="field-title">离开城市</label>
                    <input id="departureCity" name="departureCity" value="{{form.travelInfo.itinerary.departureCity}}" class="text-input" type="text" />
                </div>
                <div class="field-container">
                    <label class="field-title">计划在美访问的地点</label>
                    <input id="visitLocation" name="visitLocation" value="{{form.travelInfo.itinerary.visitLocations | join}}" class="text-input" type="text" required />
                </div>
                {{/if}}
            </div>
            <div id="noPlanArea" class="area {{form.travelInfo.madePlan && 'hidden'}}">
                <div class="field-container">
                    <label class="field-title">预计到达日期</label>
                    <input id="arrivalDate" name="arrivalDate" value="{{form.travelInfo.arrivalDate}}" class="Wdate text-input" type="text" required onclick="WdatePicker()" />
                </div>
                <div class="field-container">
                    <label class="field-title">预计停留时间</label>
                    <input id="stayTime" name="stayTime" value="{{form.travelInfo.stayTime}}" class="text-input" style="width: 160px;" type="text" required />
                    {{#stayUnits | select:{id:"stayUnit",name:"stayUnit",defaultValue:form.travelInfo.stayUnit,title:"请选停留时间类型！",required:true} }}
                </div>
            </div>
        </div>
        <div class="field-container">
            <label class="field-title">在美国的地址（英文）</label>
            <input id="street" name="street" value="{{form.travelInfo.stayInfo.street}}" class="text-input address" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">城市</label>
            <input id="stayCity" name="stayCity" value="{{form.travelInfo.stayInfo.city}}" class="text-input" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">州</label>
            {{#states | select:{id:"stayState",name:"stayState",defaultValue:form.travelInfo.stayInfo.state,title:"请选择州！",required:true} }}
        </div>
        <div class="field-container">
            <label class="field-title">邮编（选填）</label>
            <input id="zipCode" name="zipCode" value="{{form.travelInfo.stayInfo.zipCode}}" class="text-input" type="text" />
        </div>
        <div class="field-container">
            <label class="field-title">谁为您支付本次出行费用？</label>
             {{#payTypes | select:{id:"payFeeType",name:"payFeeType",defaultValue:form.travelInfo.payFeeType,conditioned:true,title:"必须选择一项！",required:true} }}
             {{include 'otherPersonPay-template'}}
             {{include 'orgPayerInfo-template'}}
        </div>
        <div class="field-container">
            <label class="field-title">是否有同行人？</label>
            <input type="radio" id="haveCompanionYes" name="haveCompanion" {{form.companionInfo.haveCompanion &&'checked="checked"'}} value="Y" required class="align-middle" />
            <label for="haveCompanionYes" class="align-middle">是</label>
            <input type="radio" id="haveCompanionNo" name="haveCompanion" {{!form.companionInfo.haveCompanion &&'checked="checked"'}} value="N" class="align-middle" />
            <label for="haveCompanionNo" class="align-middle">否</label>
            <label for="haveCompanion" class="error"></label>
            <div class="field-container area info-area one {{!form.companionInfo.haveCompanion &&'hidden'}}">
                <label class="field-title">是否作为一个团队或一个组织的成员去旅行？</label>
                <input type="radio" id="asPartOfGroupYes" name="asPartOfGroup" {{form.companionInfo.asPartOfGroup &&'checked="checked"'}} value="Y" required data-is-show="Y" class="align-middle" />
                <label for="asPartOfGroupYes" class="align-middle">是</label>
                <input type="radio" id="asPartOfGroupNo" name="asPartOfGroup" {{!form.companionInfo.asPartOfGroup &&'checked="checked"'}} data-is-show="Y" data-tpl-id="companion-template" value="N"
                    class="align-middle" />
                <label for="asPartOfGroupNo" class="align-middle">否</label>
                <label for="asPartOfGroup" class="error"></label>
                <div class="area info-area two {{!form.companionInfo.asPartOfGroup &&'hidden'}}">
                    <span style="display: block">输入您旅行团队的名称</span>
                    <div class="field-container">
                        <label class="field-title">组织团队的名字</label>
                        <input id="groupName" value="{{form.companionInfo.groupName}}" name="groupName" class="text-input" type="text" required />
                    </div>
                </div>
                <div class="area info-area two {{form.companionInfo.asPartOfGroup &&'hidden'}} ">
                    <span style="display: block">在下方输入随行人信息</span>
                    <input type="hidden" id="companionCount" counter name="companionCount" value="{{form.companionInfo.companions?form.companionInfo.companions.length:0}}" />
                    <!--同行人占位-->
                    {{if !form.companionInfo.asPartOfGroup }}
                        {{each form.companionInfo.companions as item i}}
                        <div class="repeat">
                            <div class="field-container">
                                <label class="field-title">随行人的姓氏</label>
                                <input id="companionSurnName_{{i}}" value="{{item.surnName}}" name="companionSurnName_{{i}}" class="text-input" type="text" required />
                            </div>
                            <div class="field-container">
                                <label class="field-title">随行人的名字</label>
                                <input id="companionGivenName_{{i}}" value="{{item.givenName}}" name="companionGivenName_{{i}}" class="text-input" type="text" required />
                            </div>
                            <div class="field-container">
                                <label class="field-title">同行人与您的关系？</label> 
                                {{#companionRelations | select:{id:"relationship_"+i,name:"relationship_"+i,defaultValue:item.relationship,title:"必须选择一项关系！",required:true} }}
                            </div>
                        </div>
                        {{/each}}
                    {{/if}}
                    <div id="operate_companion_menu" class="control-menu">
                        <a href="javascript:void(0)">添加</a>&nbsp;&nbsp;
                        <a href="javascript:void(0)">删除</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="field-container">
            <label class="field-title">请任填一项在美国的联系人信息</label>
            <div class="field-container">
                <span class="field-title">联系人属性</span>
                <select name="contactType" id="contactType" data-show-condition title="必须选择一项填写" required>
                        <option value>--请选择--</option>
                        <option value="P" {{!form.contactInfo.organizationName &&'selected="selected"'}} data-show-area="personContact">个人</option>
                        <option value="O" {{form.contactInfo.organizationName &&'selected="selected"'}} data-show-area="orgContact">公司/组织</option>
                </select>
                <div id="personContact" class="area info-area one  {{form.contactInfo.organizationName &&'hidden'}}">
                    <div class="field-container">
                        <span class="field-title">联系人的姓</span>
                        <input id="contactSurnName" name="contactSurnName" value="{{form.contactInfo.surnName}}" class="text-input english" type="text" required/>
                    </div>
                    <div class="field-container">
                        <span class="field-title">联系人的名字</span>
                        <input id="contactGivenName" name="contactGivenName" value="{{form.contactInfo.givenName}}" class="text-input english" type="text" required/>
                    </div>
                </div>
                <div id="orgContact" class="area info-area one {{!form.contactInfo.organizationName &&'hidden'}}">
                    <div class="field-container">
                        <span class="field-title">组织/机构名称</span>
                        <input id="orgContactName" name="orgContactName" value="{{form.contactInfo.organizationName}}" class="text-input english" type="text" required/>
                    </div>
                </div>
                <div class="info-area one">
                    <div class="field-container">
                        <span class="field-title">联系人与你的关系</span>
                        {{#contractRelations | select:{id:"contactRelationship",name:"contactRelationship",defaultValue:form.contactInfo.relationship,title:"必须选择一项关系！",required:true} }}
                    </div>
                    <div class="field-container">
                        <label class="field-title">联系人所在街道地址（英文）</label>
                        <input id="contactStreet" name="contactStreet" value="{{form.contactInfo.street}}" class="text-input address" type="text" required />
                        <span style="color: red;display: block">备注:请录入英文地址，限88个字符（包含字母和标点符号）</span>
                    </div>
                    <div class="field-container">
                        <label class="field-title">联系人所在城市</label>
                        <input id="contactCity" name="contactCity" value="{{form.contactInfo.city}}" class="text-input english" type="text" required />
                    </div>
                    <div class="field-container">
                        <label class="field-title">联系人所在州</label>
                       {{#states | select:{id:"contactState",name:"contactState",defaultValue:form.contactInfo.state,title:"请选择州！",required:true} }}
                    </div>
                    <div class="field-container">
                        <label class="field-title">邮编</label>
                        <input id="contactZipCode" name="contactZipCode" value="{{form.contactInfo.zipCode}}" class="text-input" type="text" />
                    </div>
                    <div class="field-container">
                        <label class="field-title">联系电话</label>
                        <input id="contactTel" name="contactTel" value="{{form.contactInfo.phoneNumber}}" class="text-input phone" type="text" required />
                    </div>
                    <div class="field-container">
                        <label class="field-title">电子邮箱</label>
                        <input id="contactEmail" name="contactEmail" value="{{form.contactInfo.email}}" {{!form.contactInfo.email&&'disabled'}}   class="text-input" type="text" required />
                        <input type="checkbox" id="notApplyContactEmail" {{!form.contactInfo.email&&'checked="checked"'}} name="notApplyContactEmail" value="Y">
                        <label for="notApplyContactEmail">无法提供</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</script>

<script id="previousTripInfo-v-bind" type="text/html">
    <div id="previousTripInfo">
        <h2 class="area-title">曾经的旅程</h2>
        <div class="field-container">
            <label class="field-title">您是否曾经在美国停留过？</label>
            <input type="radio" id="haveStayedYes" name="haveStayed" {{form.previousTravelInfo.haveStayed&&'checked="checked"'}} value="Y" data-tpl-id="five-trip-template" class="align-middle"
            />
            <label for="haveStayedYes" class="align-middle">是</label>
            <input type="radio" id="haveStayedNo" name="haveStayed" value="N" {{!form.previousTravelInfo.haveStayed&&'checked="checked"'}} class="align-middle" />
            <label for="haveStayedNo" class="align-middle">否</label>
            <div class="area info-area one {{!form.previousTravelInfo.haveStayed &&'hidden'}}">
                <span class="field-title">提供最近五次赴美的信息</span>
                <!--最近5次赴美信息-->
                <input type="hidden" id="lastFiveVisitCount" counter name="lastFiveVisitCount" value="{{form.previousTravelInfo.haveStayed?form.previousTravelInfo.visitList.length:0}}" />
                <!--占位：赴美信息-->
                {{if form.previousTravelInfo.haveStayed}}
                    {{each form.previousTravelInfo.visitList as item i}}
                    <div class="repeat">
                        <div class="field-container">
                            <span class="field-title">抵达日期</span>
                            <input id="lastFiveArrivalDate_{{i}}" value="{{item.arrivedDate}}" name="lastFiveArrivalDate_{{i}}" class="Wdate text-input" type="text" required onclick="WdatePicker()"
                            />
                        </div>
                        <div class="field-container">
                            <div class="field-container">
                                <label class="field-title">停留时间</label>
                                <input id="lastFiveStayTime_{{i}}" value="{{item.stayTime}}" name="lastFiveStayTime_{{i}}" class="text-input" style="width: 160px;" type="text" required />
                               {{#stayUnits | select:{id:"lastFiveStayUnit_"+i,name:"lastFiveStayUnit_"+i,defaultValue:item.stayUnit,title:"请选时间单位！",style:"width:90px",required:true} }}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                {{/if}}
                <div id="operate_lastfive_menu" class="control-menu">
                    <a href="javascript:void(0)">添加</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)">删除</a>
                </div>
                <div class="field-container">
                    <label class="field-title">是否曾经持有过美国驾照？</label>
                    <input type="radio" id="haveDriverBeforeYes" name="haveDriverBefore" {{form.previousTravelInfo.holdDirverLicense && 'checked="checked"'}} data-tpl-id="five-driver-template" value="Y" class="align-middle"
                    />
                    <label for="haveDriverBeforeYes" class="align-middle">是</label>
                    <input type="radio" id="haveDriverBeforeNo" name="haveDriverBefore" {{!form.previousTravelInfo.holdDirverLicense && 'checked="checked"'}} value="N" checked="checked" class="align-middle" />
                    <label for="haveDriverBeforeNo" class="align-middle">否</label>
                    <!--驾照信息-->
                    <div class="area info-area two {{!form.previousTravelInfo.holdDirverLicense &&'hidden'}}">
                        <input type="hidden" id="lastFiveDriverCount" counter name="lastFiveDriverCount" value="{{form.previousTravelInfo.holdDirverLicense?form.previousTravelInfo.dirverList.length:0}}" />
                        <!--驾照占位-->
                        {{if form.previousTravelInfo.holdDirverLicense}}
                            {{each form.previousTravelInfo.dirverList as item i}}
                            <div class="repeat">
                                <div class="field-container">
                                    <span class="field-title">驾照号</span>
                                    <input id="driverLicense_{{i}}" name="driverLicenseName_{{i}}" value="{{item.licenseNum}}" {{item.notKnow && 'disabled'}} class="text-input" type="text" required />
                                    <input type="checkbox" id="notKnowDriverLicense_{{i}}" {{item.notKnow && 'checked="checked"'}} name="notKnowDriverLicense_{{i}}" value="" class="align-middle" />
                                    <label class="align-middle">不知道</label>
                                </div>
                                <div class="field-container">
                                    <div class="field-container">
                                        <label class="field-title">所属州</label>
                                       {{#states | select:{id:"driverState_"+i,name:"driverState_"+i,defaultValue:item.state,title:"请选择所属州！",required:true} }}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        {{/if}}
                        <div id="operate_driver_menu" class="control-menu">
                            <a href="javascript:void(0)">添加</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)">删除</a>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
        <div class="field-container">
            <label class="field-title">您是否曾经获得过美国签证？</label>
            <input type="radio" id="haveVisaBeforeYes" name="haveVisaBefore" {{form.previousTravelInfo.haveVisaBefore && 'checked="checked"'}} value="Y" class="align-middle" />
            <label for="haveVisaBeforeYes" class="align-middle">是</label>
            <input type="radio" id="haveVisaBeforeNo" name="haveVisaBefore" {{!form.previousTravelInfo.haveVisaBefore && 'checked="checked"'}} value="N"  class="align-middle" />
            <label for="haveVisaBeforeNo" class="align-middle">否</label>
            <div class="area info-area one {{!form.previousTravelInfo.haveVisaBefore && 'hidden'}}">
                <span class="field-title">请在下方填写以往的美国签证信息</span>
                <div class="field-container">
                    <span class="field-title">上次获得签证日期(格式:YYYY-MM-DD)</span>
                    <input id="lastObtainVisaDate" value="{{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.lastIssuedDate}}" name="lastObtainVisaDate" class="Wdate text-input" type="text" required onclick="WdatePicker()"
                    />
                </div>
                <div class="field-container">
                    <span class="field-title">签证号码</span>
                    <input id="lastVisaNumber" value="{{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.visaNumber}}" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.notKnow && 'disabled'}} name="lastVisaNumber"  class="text-input" type="text" required />
                    <input type="checkbox" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.notKnow?'checked="checked"':''}} id="notKnowLastVisaNumber" name="notKnowLastVisaNumber" value="Y" class="align-middle" />
                    <label for="notKnowLastVisaNumber" class="align-middle">不知道</label>
                </div>
                <div class="field-container">
                    <label class="field-title">您此次是否申请同类签证？</label>
                    <input type="radio" id="applySameVisaYes" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.applySameVisa?'checked="checked"':''}} name="applySameVisa" value="Y" class="align-middle" />
                    <label for="applySameVisaYes" class="align-middle">是</label>
                    <input type="radio" id="applySameVisaNo" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.applySameVisa?'':'checked="checked"'}} name="applySameVisa" value="N"  class="align-middle" />
                    <label for="applySameVisaNo" class="align-middle">否</label>
                </div>
                <div class="field-container">
                    <label class="field-title">您现在申请签证的所在国家或地区与您上次签证颁发国家或地区相同么？此国家或地区是您主要居住地么？</label>
                    <input type="radio" id="applySameAreaYes" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.sameIssuePlace?'checked="checked"':''}} name="applySameArea" value="Y" class="align-middle" />
                    <label for="applySameAreaYes" class="align-middle">是</label>
                    <input type="radio" id="applySameAreaNo" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.sameIssuePlace?'':'checked="checked"'}} name="applySameArea" value="N"  class="align-middle" />
                    <label for="applySameAreaNo" class="align-middle">否</label>
                </div>
                <div class="field-container">
                    <label class="field-title">您是否留取过十指指纹？</label>
                    <input type="radio" id="haveTenPrintedYes" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.haveFingerprint?'checked="checked"':''}} name="haveTenPrinted" value="Y" class="align-middle" />
                    <label for="haveTenPrintedYes" class="align-middle">是</label>
                    <input type="radio" id="haveTenPrintedNo" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.haveFingerprint?'':'checked="checked"'}} name="haveTenPrinted" value="N" class="align-middle" />
                    <label for="haveTenPrintedNo" class="align-middle">否</label>
                </div>
                <div class="field-container">
                    <label class="field-title">您的美国签证是否曾遗失或被盗？</label>
                    <input type="radio" id="haveLostBeforeYes" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.haveLostBefore?'checked="checked"':''}} name="haveLostBefore" value="Y" class="align-middle" />
                    <label for="haveLostBeforeYes" class="align-middle">是</label>
                    <input type="radio" id="haveLostBeforeNo" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.haveLostBefore?'':'checked="checked"'}} name="haveLostBefore" value="N"  class="align-middle" />
                    <label for="haveLostBeforeNo" class="align-middle">否</label>
                    <div class="area info-area two {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.haveLostBefore?'':'hidden'}}">
                        <div class="field-container">
                            <span class="field-title">被盗年份</span>
                            <input id="lostYear" value="{{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.lostYear}}" name="lostYear" class="text-input" type="text" required />
                        </div>
                        <div class="field-container">
                            <span class="field-title">解释/原因说明</span>
                            <textarea name="lostExplain" id="lostExplain" cols="31" rows="2">{{form.previousTravelInfo.haveVisaBefore &&form.previousTravelInfo.previous.haveLostBefore &&form.previousTravelInfo.previous.lostExplain}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="field-container">
                    <label class="field-title">您的美国签证是否曾被取消或撤销？</label>
                    <input type="radio" id="cancelledOrRevokedYes" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.cancelledOrRevoked?'checked="checked"':''}} name="cancelledOrRevoked" value="Y" class="align-middle" />
                    <label for="cancelledOrRevokedYes" class="align-middle">是</label>
                    <input type="radio" id="cancelledOrRevokedNo" {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.cancelledOrRevoked?'':'checked="checked"'}} name="cancelledOrRevoked" value="N"  class="align-middle"
                    />
                    <label for="cancelledOrRevokedNo" class="align-middle">否</label>
                    <div class="area info-area two {{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.cancelledOrRevoked?'':'hidden'}} ">
                        <div class="field-container">
                            <span class="field-title">解释/原因说明</span>
                            <textarea name="cancelExplain" id="cancelExplain" cols="31" rows="2">{{form.previousTravelInfo.haveVisaBefore && form.previousTravelInfo.previous.cancelledOrRevoked &&form.previousTravelInfo.previous.cancelExplain}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field-container">
            <label class="field-title">您是否曾被拒签过？或在入境口岸被拒入境，或被撤销入境申请？</label>
            <input type="radio" id="refusedBeforeYes" {{form.previousTravelInfo.refusedBefore && 'checked="checked"'}} name="refusedBefore" value="Y" class="align-middle" />
            <label for="refusedBeforeYes" class="align-middle">是</label>
            <input type="radio" id="refusedBeforeNo" {{!form.previousTravelInfo.refusedBefore && 'checked="checked"'}} name="refusedBefore" value="N" checked="checked" class="align-middle" />
            <label for="refusedBeforeNo" class="align-middle">否</label>
            <div class="area info-area one {{!form.previousTravelInfo.refusedBefore && 'hidden'}}">
                <div class="field-container">
                    <span class="field-title">解释/原因说明</span>
                    <textarea name="refusedExplain" id="refusedExplain" cols="31" rows="2">{{form.previousTravelInfo.refusedBefore && form.previousTravelInfo.refusedExplain}}</textarea>
                </div>
            </div>
        </div>
        <div class="field-container">
            <label class="field-title">是否曾有人在公民及移民服务局为您申请过移民？</label>
            <input type="radio" id="filedImmigrantBeforeYes" {{form.previousTravelInfo.filedImmigrantBefore && 'checked="checked"'}} name="filedImmigrantBefore" value="Y" class="align-middle" />
            <label for="filedImmigrantBeforeYes" class="align-middle">是</label>
            <input type="radio" id="filedImmigrantBeforeNo" {{form.previousTravelInfo.filedImmigrantBefore && 'checked="checked"'}} name="filedImmigrantBefore" value="N" checked="checked" class="align-middle"
            />
            <label for="filedImmigrantBeforeNo" class="align-middle">否</label>
            <div class="area info-area one {{!form.previousTravelInfo.filedImmigrantBefore && 'hidden'}}">
                <div class="field-container">
                    <span class="field-title">解释/原因说明</span>
                    <textarea name="filedExplain" id="filedExplain" cols="31" rows="2">{{form.previousTravelInfo.filedImmigrantBefore && form.previousTravelInfo.filedExplain}}</textarea>
                </div>
            </div>
        </div>
        <div class="field-container">
            <label class="field-title">最近五年里您是否去过其他国家？</label>
            <input type="radio" id="traveledInFiveYearYes" {{form.previousTravelInfo.traveledInFiveYear && 'checked="checked"'}}  name="traveledInFiveYear" value="Y" data-tpl-id="visitedCountry-template"
                class="align-middle" />
            <label for="traveledInFiveYearYes" class="align-middle">是</label>
            <input type="radio" id="traveledInFiveYearNo" {{!form.previousTravelInfo.traveledInFiveYear && 'checked="checked"'}}  name="traveledInFiveYear" value="N"  class="align-middle"
            />
            <label for="traveledInFiveYearNo" class="align-middle">否</label>
            <div class="area info-area one {{!form.previousTravelInfo.traveledInFiveYear && 'hidden'}} ">

                <input type="hidden" id="vistedCountryCount" name="vistedCountryCount" counter value="{{ form.previousTravelInfo.traveledInFiveYear &&form.previousTravelInfo.visitedCountry.length}}" />
                <!--去过的国家占位-->
                {{if form.previousTravelInfo.traveledInFiveYear}}
                  {{each form.previousTravelInfo.visitedCountry as item i}}
                    <div class="field-container">
                       <label for="country" class="field-title">去过的国家</label> 
                       {{#countries | select:{id:"visitedCountry_"+i,name:"visitedCountry_"+i,defaultValue:item,title:"请选择国家！",required:true} }}
                    </div>
                  {{/each}}
                {{/if}}
                <div id="operate_visitedCountry_menu" class="control-menu">
                    <a href="javascript:void(0)">添加</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)">删除</a>
                </div>
            </div>
        </div>
    </div>
</script>


<script id="lost-passport-template" type="text/html">
    <div class="repeat">
        <div class="field-container">
            <label class="field-title">遗失或被盗护照的号码</label>
            <input id="lostPassportNum" name="lostPassportNum" class="text-input passport" type="text" />
        </div>
        <div class="field-container">
            <label class="field-title">签发国家</label> {{#countries | select:{id:"lostIssuedCountry",name:"lostIssuedCountry",title:"请选择国家！",defaultValue:"CHIN",required:true}
            }}
        </div>
        <div class="field-container">
            <label for="lostPassportExplain" class="field-title">解释/原因说明</label>
            <textarea required name="lostPassportExplain" id="lostPassportExplain" cols="31" rows="2"></textarea>
        </div>
    </div>
</script>
<script id="companion-template" type="text/html">
    <div class="repeat">
        <div class="field-container">
            <label class="field-title">随行人的姓氏</label>
            <input id="companionSurnName" name="companionSurnName" class="text-input" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">随行人的名字</label>
            <input id="companionGivenName" name="companionGivenName" class="text-input" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">同行人与您的关系？</label> {{#companionRelations | select:{id:"relationship",name:"relationship",title:"必须选择一项关系！",required:true}
            }}
        </div>
    </div>
</script>
<script id="five-trip-template" type="text/html">
    <div class="repeat">
        <div class="field-container">
            <span class="field-title">抵达日期</span>
            <input id="lastFiveArrivalDate" name="lastFiveArrivalDate" class="Wdate text-input" type="text" required onclick="WdatePicker()"
            />
        </div>
        <div class="field-container">
            <div class="field-container">
                <label class="field-title">停留时间</label>
                <input id="lastFiveStayTime" name="lastFiveStayTime" class="text-input" style="width: 160px;" type="text" required />
                <select name="lastFiveStayUnit" id="lastFiveStayUnit" style="width: 100px;" title="请选停留时间类型！" required>
                    <option value>--请选择--</option>
                    <option value="D" >天</option>
                    <option value="H" >24小时之内</option>
                    <option value="W" >周</option>
                    <option value="M" >月</option>
                    <option value="Y" >年</option>
               </select>
            </div>
        </div>
    </div>
</script>

<script id="five-driver-template" type="text/html">
    <div class="repeat">
        <div class="field-container">
            <span class="field-title">驾照号</span>
            <input id="driverLicense" name="driverLicenseName" class="text-input" type="text" required />
            <input type="checkbox" id="notKnowDriverLicense" name="notKnowDriverLicense" value="" class="align-middle" />
            <label class="align-middle">不知道</label>
        </div>
        <div class="field-container">
            <div class="field-container">
                <label class="field-title">所属州</label> {{#states | select:{id:"driverState",name:"driverState",title:"请选择所属州！",required:true}
                }}
            </div>
        </div>
    </div>
</script>

<script id="visitedCountry-template" type="text/html">
    <div class="field-container">
        <label for="country" class="field-title">去过的国家</label> {{#countries | select:{id:"visitedCountry",name:"visitedCountry",title:"请选择国家！",required:true}
        }}
    </div>
</script>

<script id="otherPersonPay-template" type="text/html"> 

    <div id="otherPayerInfo" class="area info-area one {{form.travelInfo.payPerson?'':'hidden'}}" >
        <span class="field-title">请填写如下信息</span>
        <div class="field-container">
            <label class="field-title">付费人的姓</label>
            <input id="payerSurName" name="payerSurName" value="{{form.travelInfo.payPerson&&form.travelInfo.payPerson.surnName}}" class="text-input" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">付费人的名字</label>
            <input id="payerGivenName" name="payerGivenName" value="{{form.travelInfo.payPerson&&form.travelInfo.payPerson.givenName}}" class="text-input" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">电话号码</label>
            <input id="payerTel" name="payerTel" value="{{form.travelInfo.payPerson&&form.travelInfo.payPerson.telephone}}" class="text-input phone" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">电子邮箱</label>
            <input id="payerEmail" name="payerEmail"  value="{{form.travelInfo.payPerson&&form.travelInfo.payPerson.email}}" class="text-input" type="email" required />
        </div>
        <div class="field-container">
            <span class="field-title">与您的关系</span>
            {{#payRelations | select:{id:"payerRelationship",name:"payerRelationship",defaultValue:form.travelInfo.payPerson?form.travelInfo.payPerson.relationship:null,title:"请选择关系！",required:true} }}
        </div>
        <div class="field-container">
            <span class="field-title">付费人的地址与您的通讯地址是否相同？</span>
            {{if form.travelInfo.payPerson!=null}}
                <input type="radio" id="isSameAddreesYes" name="isSameAddrees" {{form.travelInfo.payPerson.sameAddrees&&'checked="checked"'}} value="Y" required data-is-show="N" class="align-middle" />
                <label for="isSameAddreesYes" class="align-middle">是</label>
                <input type="radio" id="isSameAddreesNo" name="isSameAddrees" {{!form.travelInfo.payPerson.sameAddrees&&'checked="checked"'}} value="N" data-is-show="Y" class="align-middle" />
                <label for="isSameAddreesNo" class="align-middle">否</label>
                <label for="isSameAddrees" class="error"></label>
                {{else}}
                <input type="radio" id="isSameAddreesYes" name="isSameAddrees" value="Y" checked="checked" required data-is-show="N" class="align-middle" />
                <label for="isSameAddreesYes" class="align-middle">是</label>
                <input type="radio" id="isSameAddreesNo" name="isSameAddrees" value="N" data-is-show="Y" class="align-middle" />
                <label for="isSameAddreesNo" class="align-middle">否</label>
                <label for="isSameAddrees" class="error"></label>              
            {{/if}}

            <div class="area info-area two">
                <div class="field-container">
                    <label class="field-title">付费人的地址（英文）</label>
                    <input id="payerStreet" name="payerStreet" value="{{form.travelInfo.payPerson && form.travelInfo.payPerson.address.street}}" class="text-input address" type="text" />
                    <span style="color: red;display: block">备注:请录入英文地址，限88个字符（包含字母和标点符号）</span>
                </div>
                <div class="field-container">
                    <label class="field-title">城市</label>
                    <input id="payerCity" name="payerCity" value="{{form.travelInfo.payPerson && form.travelInfo.payPerson.address.city}}" class="text-input" type="text" required />
                </div>
                <div class="field-container">
                    <label class="field-title">省份</label>
                    <input id="payerProvince" name="payerProvince" value="{{form.travelInfo.payPerson && form.travelInfo.payPerson.address.province}}" {{form.travelInfo.payPerson && form.travelInfo.payPerson.address.province?'':'disabled'}}  class="text-input" type="text" required />
                    <input type="checkbox" id="notApplyPayerProvince" {{form.travelInfo.payPerson && form.travelInfo.payPerson.address.province?'':'checked="checked"'}}   name="notApplyPayerProvince" value="Y"/>
                    <label for="notApplyPayerProvince">无法提供</label>
                </div>
                <div class="field-container">
                    <label class="field-title">邮编</label>
                    <input id="payerZipCode" name="payerZipCode" value="{{form.travelInfo.payPerson && form.travelInfo.payPerson.address.postCode}}" {{form.travelInfo.payPerson && form.travelInfo.payPerson.address.postCode?'':'disabled'}}  class="text-input" type="text" required />
                    <input type="checkbox" id="notApplyPayerZipCode" {{form.travelInfo.payPerson && form.travelInfo.payPerson.address.postCode?'':'checked="checked"'}}  name="notApplyPayerZipCode" value="Y"/>
                    <label for="notApplyPayerZipCode">无法提供</label>
                </div>
                <div class="field-container">
                    <span class="field-title">国家</span>
                    {{#countries | select:{id:"payerCountry",name:"payerCountry",defaultValue:form.travelInfo.payPerson?form.travelInfo.payPerson.address.country:null,title:"请选择国家",required:true} }}
                </div>
            </div>
        </div>
    </div>
</script>

<script id="orgPayerInfo-template" type="text/html">

    <div id="orgPayerInfo" class="area info-area one {{form.travelInfo.payOrganization?'':'hidden'}}">
        <span class="field-title">请填写如下信息</span>
        <div class="field-container">
            <label class="field-title">公司/组织 名称</label>
            <input id="orgName" name="orgName" value="{{form.travelInfo.payOrganization && form.travelInfo.payOrganization.name}}" class="text-input" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">电话号码</label>
            <input id="orgTel" name="orgTel" value="{{form.travelInfo.payOrganization && form.travelInfo.payOrganization.telephone}}" class="text-input" type="text" required />
        </div>
        <div class="field-container">
            <label class="field-title">与你的关系</label>
            <input id="orgRelationWithYou" name="orgRelationWithYou" value="{{form.travelInfo.payOrganization && form.travelInfo.payOrganization.relationship}}" class="text-input" type="text" required />
        </div>
        <div class="area info-area two">
            <span class="field-title">为你支付费用的公司/组织 地址</span>
            <div class="field-container">
                <label class="field-title">街道地址</label>
                <input id="orgPayerStreet" name="orgPayerStreet" value="{{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.street}}" class="text-input" type="text" required />
                <span style="color: red;display: block">备注:请录入英文地址，限88个字符（包含字母和标点符号）</span>
            </div>
            <div class="field-container">
                <label class="field-title">城市</label>
                <input id="orgPayerCity" value="{{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.city}}" name="orgPayerCity" class="text-input" type="text" required />
            </div>
            <div class="field-container">
                <label class="field-title">省份</label>
                <input id="orgPayerProvince" value="{{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.province}}" {{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.province?'':'disabled'}}  name="orgPayerProvince" class="text-input" type="text" required />
                <input type="checkbox" id="notApplyOrgProvince" {{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.province?'':'checked="checked"'}} name="notApplyOrgProvince" value="Y">
                <label for="notApplyOrgProvince">无法提供</label>
            </div>
            <div class="field-container">
                <label class="field-title">邮编</label>
                <input id="orgPayerZipCode" {{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.postCode?'':'disabled'}} value="{{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.postCode}}" name="orgPayerZipCode" class="text-input" type="text" required />
                <input type="checkbox" id="notApplyOrgZip" name="notApplyOrgZip"  {{form.travelInfo.payOrganization && form.travelInfo.payOrganization.address.postCode?'':'checked="checked"'}} value="Y">
                <label for="notApplyOrgZip">无法提供</label>
            </div>
            <div class="field-container">
                <span class="field-title">国家</span>
                {{#countries | select:{id:"orgPayerCountry",name:"orgPayerCountry",defaultValue:"CHIN",title:"请选择国家！",required:true} }}
            </div>
        </div>
    </div>
</script>

</html>